<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet/less" href="style.less">
	<script src="less.js"></script>
</head>
<body>
	<header>
		<div class="wrapper">
			<img src="gfx/logo.png">
			<span>Twitter Clone</span>
			<form>
				<input type="submit" id="btnLogOut" value="Log Out">
			</form>
		</div>
	</header>
	<div id="content">
		<div class="wrapper">
			<div id="createRibbit" class="panel right">
				<h1>Create a Ribbit</h1>
				<p>
					<form>
						<textarea name="text" class="ribbitText"></textarea>
						<input type="submit" value="Ribbit!">
					</form>
				</p>
			</div>
			<div id="ribbits" class="panel left">
				<h1>Your Ribbit Profile</h1>
				<div class="ribbitWrapper">
					<img class="avatar" src="gfx/user1.png">
					<span class="name">Frogger</span> @username
					<p>
						567 Ribbits<span class="spacing">45 Followers</span><span class="spacing">32 Following</span><br>
						Cras justo odio, dapibus ac facilisis in, egestas Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. <a href="#">http://net.tutsplus.com/tutorials/php/ ...</a>
					</p>
				</div>
			</div>
			<div class="panel left">
				<h1>Your Ribbit Buddies</h1>
				<div class="ribbitWrapper">
					<img class="avatar" src="gfx/user2.png">
					<span class="name">Kermit</span> @username <span class="time">15m</span>
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. <a href="#">http://net.tutsplus.com/tutorials/php/ ...</a>
					</p>
				</div>
				<div class="ribbitWrapper">
					<img class="avatar" src="gfx/user1.png">
					<span class="name">Frogger</span> @username <span class="time">15m</span>
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. <a href="#">http://net.tutsplus.com/tutorials/php/ ...</a>
					</p>
				</div>
				<div class="ribbitWrapper">
					<img class="avatar" src="gfx/user2.png">
					<span class="name">Kermit</span> @username <span class="time">15m</span>
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. <a href="#">http://net.tutsplus.com/tutorials/php/ ...</a>
					</p>
				</div>
				<div class="ribbitWrapper">
					<img class="avatar" src="gfx/user3.png">
					<span class="name">Hypnotoad</span> @username <span class="time">15m</span>
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. <a href="#">http://net.tutsplus.com/tutorials/php/ ...</a>
					</p>
				</div>
				<div class="ribbitWrapper">
					<img class="avatar" src="gfx/user2.png">
					<span class="name">Kermit</span> @username <span class="time">15m</span>
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. <a href="#">http://net.tutsplus.com/tutorials/php/ ...</a>
					</p>
				</div>
				<div class="ribbitWrapper">
					<img class="avatar" src="gfx/user3.png">
					<span class="name">Hypnotoad</span> @username <span class="time">15m</span>
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. <a href="#">http://net.tutsplus.com/tutorials/php/ ...</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="wrapper">
			Ribbit - A Twitter Clone Tutorial<img src="gfx/logo-nettuts.png">
		</div>
	</footer>
</body>
</html>
